.recommendedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
  text-decoration: none;
}
@media only screen and (max-width: 400px) {
  .recommendedVideos {
    padding: 40px 60px;
  }
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}
a:link {
  text-decoration: none !important;
  color: black;
}
