.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarRow__icon {
  color: #606060;
  font-size: large !important;
}
@media only screen and (max-width: 500px) {
  .sidebarRow__icon {
    font-size: medium !important;
  }
}

.sidebarRow__title {
  flex: 1;
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: red;
}
.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .sidebarRow__title {
    display: none;
  }
}

.sidebarRow.selected {
  background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}
