.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  /* width: 100%; */
  z-index: 100;
  background-color: white;
}
.header__logo {
  height: 25px;
  margin-left: 20px;
  object-fit: contain;
  cursor: pointer;
}

.header__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}
.header__input > input {
  flex: 1;
  border: none;
}

.header__icons {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .header__icons {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header__input > input {
    width: 35%;
    margin-right: 40px;
  }
}
.header__icon {
  margin-right: 38px;
  cursor: pointer;
}

.header__inputButton {
  border-left: 1px solid lightgray;
  width: 50px !important;
  background-color: #fafafa;
  color: gray;
}
