.sidebar {
  flex: 0.2;
}
.sidebar > a {
  text-decoration: none;
  color: black;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
