.videoRow {
  display: flex;
  margin-bottom: 30px;
  max-width: 1000px;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .videoRow {
    width: 270px;
    flex-direction: column;
  }
}
.videoRow:hover {
  background-color: lightgray;
}
.videoRow > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}
.videoRow__text {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  text-decoration: none !important;
  color: black;
}

.videoRow__text > p {
  color: #606060;
  font-size: 12px !important;
}
.videoRow__logo {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}
.videoRow__text > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px !important;
}
@media only screen and (max-width: 600px) {
  .videoRow__text > h3 {
    font-size: 14px !important;
  }
}
.videoRow__description {
  margin-top: 20px;
  font-size: 12px;
  color: #606060;
}
.videoRow__headline {
  font-size: 12px;
  color: #606060;
}
